.hero{
    display: flex;
    
}
.hero-left{
    margin-top: 90px;
    margin-left: 270px;
}
.hero-right{
    margin-left: 240px;
    margin-top: 30px;
}
.nao{
    font-size: 65px;
    margin-bottom: -27px;
    margin-top: 20px;
}
.nao2{
    font-size: 60px;
     margin-bottom: -7px;
}
.nao3{
    font-size: 60px;
}
button{
    background-color: red;
    width: 190px;
    height:35px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    color:white;
}
